regexp/
osp/lab4/Cat/cmake-build-debug/
osp/lab4/Cat/.idea
osp/lab4/Cat/Cat
osp/lab4/Cat/test.txt
osp/lab4/Catp/test.txt
osp/lab4/Xargs/.idea
osp/lab4/Xargs/cmake-build-debug/
osp/lab4/Xargs/Xargs
osp/lab4/Xargs/test.txt
osp/lab5/part_1_server/cmake-build-debug/
osp/lab5/part_1_server/.idea/
