regexp/
osp/lab4/Cat/cmake-build-debug/
osp/lab4/Cat/.idea
osp/lab4/Cat/Cat
osp/lab4/Cat/test.txt
osp/lab4/Catp/test.txt
osp/lab4/Xargs/.idea
osp/lab4/Xargs/cmake-build-debug/
osp/lab4/Xargs/Xargs
osp/lab4/Xargs/test.txt
osp/lab5/part_1/cmake-build-debug/
osp/lab5/part_1/.idea/
osp/lab5/part_1/server
osp/lab5/part_1/client
osp/lab5/part_1/test.txt
osp/lab5/part_2/cmake-build-debug/
osp/lab5/part_2/.idea/
osp/lab5/part_2/threads
osp/lab5/part_3/cmake-build-debug/
osp/lab5/part_3/.idea/
osp/lab5/part_3/server
osp/lab5/part_3/client
